body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    height: 400px;
    width: 400px;
    border: 15px solid yellow;
    border-radius: 50%;
    background-image: linear-gradient(to top right, rgb(229, 229, 182), rgb(247, 157, 130), #ee8dee, rgb(253, 209, 209));
    box-shadow: 10px 10px 10px 10px rgb(184, 135, 135);
}

.main1 {
    position: relative;
    top: 75px;
    left: 125px;
}

.hair {
    height: 220px;
    width: 150px;
    background-color: black;
    border-radius: 100px 100px 0px 0px;

}

.face {
    height: 130px;
    width: 130px;
    background-color: rgb(250, 236, 210);
    border-radius: 50px 50px 100px 100px;
    position: relative;
    top: 40px;
    left: 10px;
}

.Leye {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 20px;
}

.lseye,
.rseye {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}

.Reye {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: -9px;
    left: 80px;
}

.mouth {
    height: 15px;
    width: 20px;
    background-color: rgb(255, 86, 142);
    position: relative;
    top: 10px;
    left: 55px;
}

.mouth1 {
    height: 15px;
    width: 20px;
    background-color: rgb(255, 86, 142);
    position: relative;
    top: 0px;
    left: 55px;
    border-radius: 0px 0px 100px 100px;
}

.neck {
    height: 28px;
    width: 30px;
    background-color: wheat;
    position: relative;
    top: 35px;
    left: 50px;
}

.top {
    height: 150px;
    width: 150px;
    background-color: #6dee4d;
    border-radius: 100px 100px 0px 0px;
    position: relative;
    top: 20px;
    left: -9px;
    overflow: hidden;
}